body{
    font-family: 'Times New Roman', Times, serif;
}
.main{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    text-align: center;
    p{
        margin-top: 5rem;
        font-size: 3rem;
        font-weight: bold;
        line-height: 0.75;
        display: inline-block;
        // span{
        //     // color: rgb(255, 0, 0);

        // }
    }

}


links{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    a{
        img{
            background: grey;
            width: 8vw;
            height: 8vw;
            margin: 0 1rem 1rem;
        }

        &:hover{
            img.facebook{
                background: #3b5998;
            }

            img.twitter{
                background: #1DA1F2;
            }
            img.github{
                background: white;
            }
            img.instagram{
                background-image: linear-gradient(rgba(224,155,61,255), rgba(112,36,196,255));
            }
        }
    }
}

@media(min-width: 576px){
    img.facebook, img.twitter, img.github, img.instagram{
        width: 5vw;
        height: 5vw;
    }
}